body {
    height: 100%;
    width: 100%;
    margin: 0;
}


#screen {
    position: absolute;
    left: 15%; 
    height:500px;
    width: 900px;
    border: 2px solid blue;
    background-color: skyblue;
 
    margin-left: auto;
    overflow: hidden;

}

#bird {
    position: absolute;
    background-color: blue; /*image('bird.png'); /*use a bird image?*/
    height: 40px;
    width: 40px;
    top: 100px;
    left:5%;
    border-radius: 50%;
    

}

#tube {
    position: relative;
    height: 500px;
    width: 80px;
    background-color: olive;
    left: 800px;
    animation: tube 2s infinite linear;
}

@keyframes tube{
    0% {left: 800px}
    100% {left: -100px;}
}

#open {
    width: 80px;
    height: 150px;
    background-color: red;
    position: relative;
    left: 700px;
    top:-500px;
    animation: tube 2s infinite linear;

}



/* i made it too complicated before with an upper and lower obstacle */

/* #upperTube1 {
    top: 0;
}

#upperTube2 {
    top:0;
    right: 0;
}

#lowerTube1 {
    bottom: 0;
}

#lowerTube2 {
    bottom: 0;
    right: 0;
}

#scoreboard {
    text-align: center;
    font-size: 40px;
} */

#try_again {
    position: absolute;
    bottom: 1;
    right: 35%;
    width: 25%;
    padding: 8px;
    background-color: gainsboro;
    cursor: pointer;
    display: none;

}
